* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5F7F7;
    color: black 
}

header {
    background-color: #5AB8B8;
    color: black;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    background-color: #5AB8B8;
    color: black
    ;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F5F7F7;
}

.hero {
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #5AB8B8;
}

.hero p {
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #ffffff;
}

.cta-button {
    padding: 10px 20px;
    background-color: #5AB8B8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #F5F7F7;
}

footer {
    background-color: #5AB8B8;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.code-box, .output-box {
    background-color: #5AB8B8;
    color: #black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: left; /* Align text to the left */
}